/*Try for navi responive try*/
.navbar-header {
	display: none;
	float: left;
  }
.navbar-toggle .icon-bar {
	display: block;
	width: 22px;
	height: 2px;
	border-radius: 1px;
}
.navbar-toggle .icon-bar + .icon-bar {
	margin-top: 4px;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: white;
}
.navbar-toggle {		
	position: relative;
	float: right;
	padding: 9px 10px;
	margin-top: 8px;
	margin-right: 15px;
	margin-bottom: 8px;
	background-color: transparent;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
}

@media (max-width: 1000px){
	.navbar-nav li{
		margin-top:0 ;
		z-index: 1000;
	}
	div.navbar-collapse{	
		height: 500px;		
		overflow-x: visible;
		padding-right: 15px;
		padding-left: 15px;
		border-top: 1px solid transparent;
		box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
	}
	.navbar .nav > li {				
		position: relative;
		background-color: #1C5BA0;
  		clear: both;
  		width: 180px;
	}
	.navbar-header {		
		display: inline;
		}
	.navbar-toggle{
		border-color: #ddd;
		
		}
	
}
button {overflow: visible;
color: inherit;
  font: inherit;}


/*Central Otago main start*/
.main_img{
	width: 100%;
	height: 640px;
	opacity: 0.8;
	z-index: 900;}

.container_middle{
	text-align: center;
	height: 100%;
}

.infor_box{
	padding-top: 50px;
}

.acco_box{
	float: left;
	/*background-color: red;*/
	width: 32.3333%;
	height:450px;
	margin: 5px 0.5%;
}
.acco_box img{
	width: 100%;
	border:1px solid rgba(0,0,0,0.2);
	border-radius: 4px;
}

.acco_img{
	width: 100%;
	height: 250px;
	margin-bottom: 30px;
}

.aaco_sub h4{
	text-align: left;
	margin-top: 5px;
}

.act_box{
	text-align: left;
	width: 100%;
	height: 510px;	
	margin-top: 10px;
}

iframe{
	width: 70%;
	height: 510px;

}

.act_description{
	float: right;
	width: 30%;
	height: 510px;	
	text-align: center;
}
.bicycle_des{
	margin-left: 4%;
	text-align: left;
}
.ac_table{
	margin-top: 10px;
}
.ac_table td{
	padding-top: 5px;
}

.bike{
	margin-top: 15px;
	width: 100%;
	height: 80%;
}


.att_des,.att_des_side{
	height: 401px;
	width: 265px;
	font-weight: 200;
	text-align: center;
	transition: all 0.3s;
	display: inline-block;
	border: 1px solid rgba(0,0,0,0.2);
	border-radius: 4px;
}

.att_des_side{
	height: 383px;
}

.header{
	font-size: 40px;
	color: #FFFFFE;
	background: #1C5BA0;
	height: 110px;
	line-height: 100px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	text-transform: uppercase;
	font-weight: 600;
}

.sub_header{
	color: white;
	font-style: italic;
	font-size: 15px;
	line-height: 0px;
	text-transform: initial;
	top: -25px;
	position: relative;
	font-weight: 400;
}

.heaer_middle{
	background-color: #129BEE;
}

.details{
	border-top: 1px solid #E7E7E7;
	background: #F9F9F9;
	padding: 25px 15px;
	text-align: left;
}

a.button,a.button2{
  padding:15px 0;
  background: #e7e7e7;
  display: inline-block;
  width: 100%;
  font-size: 18px;
  color: #333;
  transition: all 0.2s;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

a.button:hover{
	background-color: #12BAF9;
	color: white;
}

a.button2:hover{
	background-color: #1C5BA0;
	color: white;
}

.detail_title{
	text-align: center;
	font-weight: bold;
}

i{
	padding: 6px 5px;
}

.row{
	margin-top: 10px;
}
/*Event*/
.event_calender{
	width: 100%;
	min-width: 600px;
	height: 500px;
	margin-top: 10px;	
	font-size: 20px;
	font-weight: bold;

}

.spring{
	width: 100%;
	height: 125px;
	border:1px solid rgba(0,0,0,0.2);
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	background-color:rgba(232, 101, 136,0.1);
}
.summer{
	width: 100%;
	height: 125px;
	border:1px solid rgba(0,0,0,0.2);
	border-top: hidden;
	background-color:rgba(45, 150, 209,0.2);
}
.autumn{
	width: 100%;
	height: 125px;
	background-color:rgba(145, 96, 75,0.2);
	border:1px solid rgba(0,0,0,0.2);
	border-top: hidden;
}
.winter{
	width: 100%;
	height: 125px;	
	border:1px solid rgba(0,0,0,0.2);
	border-top: hidden;
	background-color:rgba(192, 192, 186,0.3);
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

.border_right{
	border-right:1px solid rgba(0,0,0,0.2);
}
.months{
/*	width: 33.333333333%;*/
	width: 33.2222222222%;
	height: 125px;
	text-align: center;
	float: left;
    
}
.vertical_center{
	padding:56px 0;
}

.months_9:hover{
	background-color: #E86588;
	border-radius: 4px;
	background-image: url("../img/event/try.jpg");
	color:#E86588;
}
.months_10:hover{
	background-color: #E86588;
	border-radius: 4px;
}
.months_11:hover{
	background-color: #E86588;
	border-radius: 4px;
}
.months_12:hover{
	background-color: #2D96D1;
	border-radius: 4px;
}
.months_1:hover{
	background-color: #2D96D1;
	border-radius: 4px;
}
.months_2:hover{
	background-color: #2D96D1;
	border-radius: 4px;
}
.months_3:hover{
	background-color: #91604B;
	border-radius: 4px;
}
.months_4:hover{
	background-color: #91604B;
	border-radius: 4px;
}
.months_5:hover{
	background-color: #91604B;
	border-radius: 4px;
}
.months_6:hover{
	background-color: #C0C0BA;
	border-radius: 4px;
}
.months_7:hover{
	background-color: #C0C0BA;
	border-radius: 4px;
}
.months_8:hover{
	background-color: #C0C0BA;
	border-radius: 4px;
}
/*Restaurant*/

.divider {
  margin: auto;
  margin-top: 10px;
  width: 970px;
  border-color: rgba(0,0,0,0.2);
  border-width: 1px;
  max-width: 100%;
  margin-bottom: 60px;
  }

.res_wrapper{
	width: 100%;
	height:250px;
/*	background-color: red;*/
	margin-top: 10px;
}
.img_part{
	width: 40%;
	height: 250px;
/*	background-color: yellow;*/
	float: left;
}
.des_part{
	width: 60%;
	height: 250px;
/*	background-color: orange;	*/
	float: left;
	text-align: left;
}
.res_img{
	position: relative;
  	top: 50%;
  	transform: translateY(-50%);
}

.img_radius{	
	border-radius: 4px;
}
h5{
	color: #1C5BA0;  	
  	font-size: 20px;
  	margin-bottom: 10px; 
    }

.des_part2{
	margin-top: 35px;
	width: 80%;
}
#res_des{
	font-weight: normal;
	margin-bottom: 5px;
}

ul.a li{
	list-style-type: disc;
	margin-left: 20px;
	padding-bottom: 3px;
}